[phases.setup]
nixPkgs = ["nodejs_20", "python311"]

[phases.install]
cmds = [
  "npm install"
]

[phases.build]
cmds = [
  "python3 -m pip install pdfplumber",
  "npm run build"
]

[start]
cmd = "npm start"

